.gist-answers-container {
  width: 1680px;
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding: 90px 40px;
  gap: 50px;
  color: #0d0d0c;
  
}

.left-section {
  width: 50%;
}

.badge-box {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #03032f;
  padding: 20px 10px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;
  color: #efc50b;
  width: 250px;
}

.badge-icon {
  width: 50px;
  height: 30px;
}

.left-section h1 {
  font-size: 48px;
  font-weight: 700;
  margin-top: 20px;
}

.subtitle {
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 250px;
  font-weight: 500;
  max-width: 200px; /* adjust this number */
  line-height: 1.4;
}

.description-wrapper {
  width: 300px; /* controls number of lines */
}

.description {
  margin-top: 40px;
  font-size: 17px;
  line-height: 1.9;
  opacity: 0.7;
  transform: translate(-30px, 0);
}

.primary-btn {
  display: inline-block;
  margin-top: 25px;
  padding: 10px 20px;
  background: hsl(0, 0%, 100%);
  color: rgb(242, 132, 16);
  font-size: 17px;
  border-radius: 40px;
  border:4px solid orange;
  text-decoration: none;
  width: 140px;
  height: 60px;

  background-image: url('arroworange.png'); /* replace with your actual image path */
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 25px ;
   transform: translate(-30px, 0);
  
}

.right-section {
  width: 50%;
  display: flex;
  justify-content: center;
}

.video-box {
  width: 520px;
  height: 520px;
  border-radius: 25px;
  overflow: hidden;
  background: #eaeaea;
}

.video-box video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  align-items: center;
}
.right-section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center; /* vertically center the box */
}

.video-box {
  width: 520px;
  height: 570px;
  border-radius: 25px;
  overflow: hidden;
  background: #eaeaea;
  display: flex;              /* make video-box a flex container */
  justify-content: center;    /* center horizontally */
  align-items: center;        /* center vertically */
  transform: translate(0, 15px);
  transform: translate(160px, 0);
  
}

.video-box video {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  
}
.logo-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.logo-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.logo-title-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.top-line {
  display: flex;
  align-items: center;
  gap: 10px; /* space between logo and text */
}

.gist-logo {
  width: 35px;   /* adjust size */
  height: auto;
  display: block;
}

.gist-word {
  font-size: 48px;
  font-weight: 700;
  color: #2e2e2a;
}

.bottom-line {
  margin-top: 5px;
}

.answers-word {
  font-size: 48px;
  font-weight: 700;
  color: orange;
  
}