.partners-section {
  background: #2d1c36; /* dark purple from screenshot */
  text-align: center;
  padding: 80px 0 120px;
  color: white;
  font-family: "Inter", sans-serif;
}

/* Title */
.partners-title {
  max-width: 500px; /* adjust as needed */
  margin: 0 auto;
  text-align: center;
  font-size: 27px;
  line-height: 1.4;
  white-space: normal;
  word-break: break-word;
  margin-bottom: 70px;
}

/* Cards */
.partners-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.cardss {
  background: #9b63dc;
  width: 280px;
  height: 240px;
  padding: 28px;
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
  font-size: 16px;
  line-height: 1.4;
}

.card img {
  width: 30px;
  margin-bottom: 20px;
  
  
}

.partners-subtext {
  font-size: 20px;
  color: #e5e5e5;
  margin-bottom: 40px;
  white-space: pre-line; /* respects \n from Strapi */
}

/* Button */
.partners-btn {
  padding: 14px 36px;
  border-radius: 30px;
  background: linear-gradient(to right, #2d1c36, #2d1c36);
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: inline-block;
  transition: 0.3s ease-in-out;
    border: 2px solid rgb(164, 113, 55) ;
}

.partners-btn:hover {
  transform: scale(1.05);
  opacity: 0.9;
}
