.trygist-section {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 60px 80px;
  position: relative;
  gap: 40px;
}

/* LEFT TEXT */
.trygist-left {
  width: 40%;
  color: white;
}

.trygist-left h1 {
  font-size: 55px;
  margin: 0 0 20px 0;
  font-weight: 700;
}

.trygist-left p {
  font-size: 18px;
  line-height: 28px;
  opacity: 0.9;
}

/* BUTTON */
.try-btn {
  margin-top: 25px;
  padding: 12px 22px;
  border-radius: 40px;
  border: 2px solid white;
  background: transparent;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.try-btn:hover {
  background: white;
  color: black;
}

/* RIGHT SIDE PNG */
.trygist-right {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.ask-img {
  width: 520px;
  height: auto;
  position: absolute;
  top: -55px;    /* adjust to match dog's face */
  right: 0;
   left: 31%; 
  filter: drop-shadow(0px 8px 20px rgba(0,0,0,0.4));
}
